API_ID=28309846
API_HASH=51eeb577e5ca2c5c3a918bc903f144fb
BOT_TOKEN=5667013817:AAHMYTcKYsfjSzhBB19EsHVmxOCBT-RO9lo
LOG_GROUP_ID=-1001973318081
MONGO_DB_URI=mongodb+srv://addaxmudic:bellyop@cluster0.u61iuw5.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=6115295408
STRING_SESSION=BQGv-VYAQinmZK2ZQn8XcRJfFSIbEos59e2lhp8Vr6TjCIcLoHeFfC5heEv0PRD0hsgqUvB81kJjojInrVtJ5UJbLTxDcZkDxuX3UTJNPaUfjd6MvxqqvvxCOVlP2xPJupPw6FGj8WItD4Wu4KtFCYx71smQMvutyzuUOIt2-GBacPlJd7PoaekFuaMQX7zierB8jclp1HYipZS8J7i0UNiArh8f-HNLNUxFS-dQzrmgE1ZIUPVLX98pTg7ZMwJzueUUvZWxeZneDuSulEVcUg1NIRei3uQ5DykeQ9cpzuMXJKSlNHWMHBvvGeVOWMYWni3yRo7Jp5kvDzSoEFu9spUL7P19FwAAAAFtKGO8AA
