API_ID=28309846
API_HASH=51eeb577e5ca2c5c3a918bc903f144fb
BOT_TOKEN=5667013817:AAHMYTcKYsfjSzhBB19EsHVmxOCBT-RO9lo
LOG_GROUP_ID=-1001973318081
MONGO_DB_URI=mongodb+srv://addaxmudic:bellyop@cluster0.u61iuw5.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=6115295408
STRING_SESSION=BQGv-VYAraen00pQttbb8HuOmk7WPoWL6htpnaG7QRhpUxA8AZiwaKyuE6D6DHawh_lj2pZksog_5npgIuEcui31_lnGGf4jhREjJ7vdzK_Ksfv0qwLToNApoQUahimf9nnNw8854HG2ul3j-MqbTdN7-wdKHrR17N0tODtardM9OBPqXSopDNeJThj2jugLZsI9AQntkNzMECaUBxw4GLiYTZcGmX2wQGHfkH6zY68jiAoA5CXTUU8EkwMYrOV35GvvhNDz1Wd567aUgQXGxL469kGF7QmEoEWXJKcvjSgRDvqw_9aoIJQtCX_1kM4Vv3G3VKppXwI3jmqUcRY_b2OXU0kjywAAAAFaX8jBAA
