API_ID=28309846
API_HASH=51eeb577e5ca2c5c3a918bc903f144fb
BOT_TOKEN=5667013817:AAHMYTcKYsfjSzhBB19EsHVmxOCBT-RO9lo
LOG_GROUP_ID=-1001973318081
MONGO_DB_URI=mongodb+srv://addaxmudic:bellyop@cluster0.u61iuw5.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=6115295408
STRING_SESSION=BQGv-VYAFjZW19sGlS17OabU_9cHVJM-KMQpq56l90yr54UTwCXmZHU_65bSmC_5bnPjrlzI5qSbmRQYkmdZVlENM1qAsJNf8YJ6YMOidlToBEAMCvagH-hSIWPMvav3YWXorlW1zKu_e5GWJG0hMYaP1jyuXAP4D9YoRyyvdWIbXnhZMdmJBNNnQxuYUI7vUtjAxLXgs6jVugTJbpbf_TK9oIHxx7Dv3OmT1jkjQaXU1vR5nqfA5DO1VBlpEWctKyE4J3-7CSqZzVcP0Gvm8U4zTJBKkgRiIOtPxC8LH-Hr84bD0jpUbSPd9KZ3_9-LIOSxy6kQp3nFe1XyHzr0rj5vgZAh3QAAAAFtKGO8AA
